* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --border-radd : border-radius: 2px;;
}

html {
  font-size: 62.5%;
}
body {
  background-image: url(./img/background-image.jpeg);
  font-family: "Helvetica", Sans-Serif;
  
}

.container{
    margin: 5rem 7rem;
  
    margin-bottom: 20rem;
}
.header{
width: 100%;
background-color: #fff;
padding-top: 40px;
padding-bottom: 50px;
text-align: center;
border-radius: var(--border-radd);
}

.header .img-div{
    border: 8px solid rgb(255, 238, 0);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;

}
.header .img-div img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.header-name{
    font-size: 8rem;
margin-bottom: 4rem;

}
.header-desc{
    font-size: 3rem;

}
.about-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    gap: 5rem;
}
.about-section .about-card-item{
    height: 90rem;
    width: 160rem;
    border-radius: 2px;

}
.about-item-1{
    background-color: #FEDE00;
    padding: 12rem;


}
.about-item-2{
    /* flex: 1; */

    background-image: url(./img/large-profile.jpeg);
    background-size: cover;
    background-position: center;

}

.about-item-1 h4{
    font-size: 3rem;
    margin-bottom: 4rem;
}

.about-item-1 p{
    font-size: 2rem;
    margin-bottom: 2.3rem;
}



section h1{
    font-size: 7rem;
    text-align: center;
    margin: 12rem 0;
}


.project-section {

}
section h1{
    font-size: 7rem;
    text-align: center;
    margin: 12rem 0;
}
.cards-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    gap: 20px;
}


.card{
    height: 250px ;
    width: 300px;
    border: var(--border-radd);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9.3rem;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;

}
.card img{
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
} 
.card-2, .card-5{
background-color: #fff;
}
.card-3, .card-6{
    background-color: #209CFF;
    }
    .card-7{
        background-color: transparent;
    }
    .card-4{
        background-color: #112D4E;
    }
    .card-2:hover,
    .card-3:hover,
    .card-4:hover,
    .card-5:hover,
    .card-6:hover,
    .card-7:hover{
        background-color: #FEDE02;
    }
    .fff-content{
        background-color: #fff;
        padding: 10rem;
        border-radius: var(--border-radd);
        margin-bottom: 10rem;
    }
    .fff-content h4{
        font-size: 3rem;
        margin-bottom: 30px;
    }
    .fff-content table{
        width: 90%;
        margin: auto;
    }
    .fff-content tr{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5rem;
        

    }

    .fff-content tr td p{
        text-align: start;
        width: 130px;
    }



    .skills-edus{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
        flex-wrap: wrap;
        margin-bottom: 3rem;

    }


    .skills-edus div{
        width:  45vw;
        margin-bottom: unset;

    }

    .fish-section h1{
        border-radius: var(--border-radd);
        padding: 15rem 10rem;
        border:13px solid #FEDE02;
        margin: 70px 20px;
        font-size: 5.5vw;
    }

    
.footer{
    background-color: #D0DAEE;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 7rem;
}
.links a{
    font-size: 3.5rem;
    margin-right: 2rem;
    text-decoration: none;
    text-transform: capitalize;
    /* padding: 5px; */
    transition: .5s all ease;
}
.links a:hover{
    font-size: 3.5rem;
    margin-right: 2rem;
    text-decoration: underline;
    background-color: #FEDE02;
    padding: 5px;

}

    .socials img{
        width: 47px ;
        height: 47px ;
        margin-left: 2rem;
    transition: .5s all ease;

        
    }
    .socials img:hover{
        width: 47px ;
        height: 47px ;
        margin-left: 2rem;
    padding: 5px;

    background-color: #FEDE02;

    }